html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.camera {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.camera video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.camera button {
  position: absolute;
  bottom: 10rem;
  z-index: 2;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #ffffffcc;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(5px);
}
