* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  max-width: 100vw;
}


body {
    font-family: sans-serif;
    background: #FFFFFF;
    background: linear-gradient(140deg, rgba(255, 255, 255, 1) 50%, rgba(153, 153, 153, 1) 83%);
}